body{
    text-align: center;
    margin-top: 50%;
    background-image: url(back.jpg);
}
button{
    font-size: 35px;
    text-decoration-color: black;
    background-color: transparent;
}
input{
    font-size: 35px;
    background-color: transparent;
}
p{
    font-size: 40px;
    text-decoration-color: black;
}
